<main>
    <div class="game-details">
        <div class="profile-details">
            <div class="user-info-top">  
                    <div class="my-picture">
                        <img class="profile-picture" src="assets/img/profile.png">
                    </div>  
            <h1>{{profile.username}}</h1>
            </div>        
            <div class="admin-div">
                <div class="form-button">
                @if (isUserAdmin()){
                <a routerLink="/addgame">
                    <button type="submit">Add Game</button> 
                </a>
                }
                </div>
            </div>
        </div>
    </div>
    <div class="details-down">
        <h1>Your Reviews</h1>
        <div class="decorative-line"></div>
        @for (review of profile.reviews; track review){
        <div class="reviews">
            <div class="user_display">
                <img class="profile-picture" src="assets/img/profile.png">
                <p>{{review.reviewer}}</p>
            </div>
            <div class="review-right">
            <div class="reviews_content"> 
                <p id="score">{{review.rating}}/5<i class="fas fa-star"></i> on <strong>{{review.game_name}}</strong>
                <p id="comment">{{review.comment}}</p>
            </div>
        </div>
        </div>
        }
    </div>   
        </main>