<div class="game-details">    
    <div class="details">
        <div class='message'>
            <h1>{{message}}</h1>
        </div>
        <div class="user-info-down">
            <div class="form">
                <form [formGroup]="addform" (ngSubmit)="submitForm($event)" enctype="multipart/form-data">
                    <h1>Name</h1>
                    <input name="game_name" type="text" id="game_name" placeholder="Game name" formControlName="name" required>
                    <h1>Release date</h1>
                    <input name="game_date" type="date" id="game_date" placeholder="Release date" formControlName="date" required>
                    <h1>Description</h1>
                    <textarea name="game_description" id="game_description" placeholder="Game description" formControlName="description" required></textarea>
                    <h1>Available on:</h1>
                    <div id="game-platforms" formArrayName="platforms" *ngIf="platforms.length">
                        <div class="platform-div" *ngFor="let platform of platforms; let i = index">
                          <input type="checkbox" class="platform" [formControlName]="i"><p>{{ platform.name }}</p>
                        </div>
                      </div>
                    
                    <h1>Categories:</h1>
                    <div id="game-categories" formArrayName="genres" *ngIf="genres.length">
                        <div class="platform-div" *ngFor="let genre of genres; let i = index">
                          <input type="checkbox" class="platform" [formControlName]="i"><p>{{ genre.name }}</p>
                        </div>
                    </div>
                    <div id="game-add-bottom">
                        <div id="game-add-bottom-text">
                            <h1>Image:</h1>
                        </div>
                        <div id="game-add-bottom-input">   
                           <input #fileInput name="file" type="file" accept="image/*" required><br><br>
                        </div>
                        <div id="game-add-bottom-button">
                            <button type="submit">Save</button>
                        </div>
                    </div> 
                </form>      
            </div>         
        </div>
    </div>
</div>