<!DOCTYPE html>

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ asset('styles/style.css')}}"/>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Kameron"/>
        <title>GameCritic - Login</title>
</head>

<body>
    
    <div class="login-body">
        <div class="logo-container">
            <div class="logo">
                <img src=" {{asset('img/logo.svg') }}">
            </div>
        </div>
        <div class="login-container">
            <div class="login-form">
                <form class="login" action="login" method="POST">
                    <input name="email" type="text" id="email" placeholder="Email">
                    <input name="password" type="password" id ="password" placeholder="password">
                    <div class="form-button">
                        <a href="{{ path('app_index') }}">
                        <button>LOGIN</button>
                        </a>
                    </div>
                </form>
                <p>Dont have an account? <a href="register">Register here</a></p>
            <div class="message">

            </div>
        </div>
    </div>
</body>