<header>
    <div class="logo">
        <a href="/">
        <img src="assets/img/logonavbar.svg" alt="Logo">
        </a>
      </div>
        <input type="checkbox" id="menu-bar">
        <label for="menu-bar"><i class="fas fa-bars"></i></label>
        <nav class="navbar">
      
          <ul class="nav-links">
            <li><a href="/allgames"><i class="fas fa-search"></i></a>
            <li><a href="/category/1">PC</a></li>
            <li><a>Playstation</a>
              <ul>
                <li><a href="/category/2">PSX2 & PS2</a></li>
                <li><a href="/category/3">Playstation 3</a></li>
                <li><a href="/category/4">Playstation 4</a></li>
                <li><a href="/category/5">Playstation 5</a></li>
                <li><a href="/category/6">VITA AND PSP</a></li>
              </ul>
            </li>
            <li><a>Xbox</a>
              <ul>
                <li><a href="/category/7">XBOX</a></li>
                <li><a href="/category/8">XBOX 360</a></li>
                <li><a href="/category/9">XBOX ONE</a></li>
                <li><a href="/category/10">XBOX SERIES</a></li>
              </ul>
            </li>
            <li><a>Nintendo</a>
              <ul>
                <li><a href="/category/11">NES & SNES</a></li>
                <li><a href="/category/12">GB/GBC</a></li>
                <li><a href="/category/13">GBA</a></li>
                <li><a href="/category/14">Nintendo 64</a></li>
                <li><a href="/category/15">GameCube</a></li>
                <li><a href="/category/16">Wii</a></li>
                <li><a href="/category/17">Wii U</a></li>
                <li><a href="/category/18">NINTENDO SWITCH</a></li>
              </ul>
            </li>
            @if(isUserLoggedIn()){
                <li class ="profile-li">
                    <div class="my-profile">
                        <a href="/my-account">
                        <img class="my-profilepic" src="assets/img/profile.png" alt="profile"> 
                        </a>
                    </div>
                    </li> 
            }
          </ul>
          @if(isUserLoggedIn()){
          <div class="logout-button"><button type="submit" (click)="logout()">Log Out</button> </div>
          }
    </nav>
</header>