<div class="game-details">
        
    <div class="details">
        <div class="details-top">  
            <div class="top-left">
                <div class="game-image">
                    <img class="image" src="assets/img/stock.jpg">
                </div>                
            </div>
            <div class="top-right">
                <h1>User Score</h1>
                    @if(game.score && game.score != 0){
                        <h2>{{game.score}}/5<i class="fas fa-star"></i></h2>
                    }@else{ <h2> No reviews yet </h2> }
                <h1>Release Date</h1>
                <p>{{game.date}}</p>
                <div class="game-platform">
                <h1>Available on:</h1>
                    @for (platform of game.platforms; track platform){
                    <div class="platform">
                        <p>{{platform}}</p>
                    </div>
                    }
                </div>
                <div class="game-genres">
                    <h1>Genres</h1>
                    @for (genre of game.genres; track genre){
                        <div class="platform">
                            <p>{{genre}}</p>
                        </div>
                        }
                </div>
            </div> 
        </div>
        <div class="name">
                <h1>{{game.name}}</h1>
        </div>
    </div>
    
    <div class="details-down">
        <h1>Description</h1>
        <div class="decorative-line"></div>
        <div class="description">
                {{game.description}}
        </div>
        <h1>Latest Reviews</h1>
        <div class="decorative-line"></div>
        @if(game.reviews.length == 0){
            <div class="no-listings"><h3>No reviews yet.</h3></div><br><br>
        }
        @for (review of game.reviews; track review){
        <div class="reviews">
            <div class="user_display">
                <img class="profile-picture" src="assets/img/profile.png">
                <p>{{review.reviewer}}</p>
            </div>
            <div class="reviews_content"> 
                <p id="score">{{review.rating}}/5<i class="fas fa-star"></i></p>
                <p id="comment">{{review.comment}}</p>
            </div>
        </div>
        }
        @if(isUserLoggedIn()){
        <h1>LEAVE YOUR REVIEW</h1>
        <div class="your_review">
            <div class="my_display">
                    <img class="my-pic" src="assets/img/profile.png">
                <p>Me</p>    
            </div>
            <div class="review_details">
                <div class="review_content">
                <form class="leave_a_review" [formGroup]="reviewform" enctype="multipart/form-data">
                    <div class="rating">
                    <select name="rating_given" id="rating_given" formControlName="rating_given" required>
                        <option value="1"> 1 </option>       
                        <option value="2"> 2 </option>     
                        <option value="3"> 3 </option>  
                        <option value="4"> 4 </option>  
                        <option value="5"> 5 </option>          
                    </select> out of 5 <i class="fas fa-star"></i>
                    </div>
                    <input name="game_id" type="hidden" id="game.id" formControlName="game_id" [value]="game.id">
                    <textarea name="review_comment" type="text" id="review_comment" placeholder="Start writing your review here" formControlName="review_comment" required></textarea>
                    <div class="button">
                        <button id="button" type="submit" (click)="submitForm($event)">Submit</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
        }
    </div>

</div>