<div class="base-container">
    <div class="details-down">
        <div class="search-bar">
            <input id='search-bar' type="text" placeholder="search game library" oninput="searchGames()">
        </div>
        <div class="decorative-line"></div>
    </div>
    <div class="category-list">    
        <a routerLink = "/gamedetails">
        <div class="list-content">
            <div class="list-content-top">
            <div class="list-content-image">
                <img src="assets/img/stock.jpg">
            </div>
            <div class="game-info">
                <div class="game-platform">
                    <div class="listings">
                        <h1>Platforms</h1> 
                    </div>
                        <div class="platform">
                            <p>Stock Platform 1</p>
                        </div>
                        <div class="platform">
                            <p>Stock Platform 2</p>
                        </div>
                        <p>& More</p>
                    </div>
                <div class="game-genres">
                    <div class="listings">
                        <h1>Genres</h1> 
                    </div>
                        <div class="platform">
                            <p>Stock Genre 1</p>
                        </div>
                        <div class="platform">
                            <p>Stock Genre 2</p>
                        </div>
                        <p>& More</p>
                </div>
            </div>
            </div>
            <div class="game-name">
                <h2>Template Game</h2>
            </div>
        </div>
    </a>
    <a routerLink = "/gamedetails">
        <div class="list-content">
            <div class="list-content-top">
            <div class="list-content-image">
                <img src="assets/img/stock.jpg">
            </div>
            <div class="game-info">
                <div class="game-platform">
                    <div class="listings">
                        <h1>Platforms</h1> 
                    </div>
                        <div class="platform">
                            <p>Stock Platform 1</p>
                        </div>
                        <div class="platform">
                            <p>Stock Platform 2</p>
                        </div>
                        <p>& More</p>
                    </div>
                <div class="game-genres">
                    <div class="listings">
                        <h1>Genres</h1> 
                    </div>
                        <div class="platform">
                            <p>Stock Genre 1</p>
                        </div>
                        <div class="platform">
                            <p>Stock Genre 2</p>
                        </div>
                        <p>& More</p>
                </div>
            </div>
            </div>
            <div class="game-name">
                <h2>Template Game</h2>
            </div>
        </div>
    </a>
    </div>
    </div>