<!DOCTYPE html>
<html lang="en">
    
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{  asset('styles/style.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('styles/register.css')}}"/>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Kameron"/>
        <title>GameCritic - Login</title>
</head>

<body>
    <div class="register-body">
        <div class="logo-container">
            <div class="logo">
                <img src="{{ asset('img/logo.svg') }}">
            </div>
        </div>
        <div class="message">
            <br>
        </div>    
        <div class="dual-container">
            <div class="register-info"> 
            <h1>Account Registration</h1>
            <p> Get Started with a Gamecritic</p>
            <p>account to rate and review games! </p><br>
            <p><strong>have an account?</strong></p>
            <div class="form-button">
                <button id="LogInButton">Log In</button>
            </div>
            </div>
            <div class="register-form-container"> 
                <div class="register-form">
                    <form class="register" action="register" method="POST">
                        <input name="username" type="text" id="username" placeholder="Username" required>
                        <input name="email" type="text" id="email" placeholder="Email" required>
                        <input name="password" type="password" id ="password" placeholder="password" required>
                        <p>must be at least 8 characters long</p><br>
                        <input name="repeat_password" type="password" id ="repeat_password" placeholder="Repeat password" required>
                        <div class="form-button">
                        <button type="submit">Register</button>
                        </div>
                    </form>
            </div>
        </div>
    </div>
<script>
    document.getElementById("LogInButton").addEventListener("click", function() {
    location.href = "/login";
});
</script>
</body>
</html>
