.game-details{
    height:120vh;
}
.details{
    height:100%;
}

.user-info-down  {
    height: 100%;
    width: 100%;
    justify-content: center;
}
.user-info-down .form{
    height: 100%;
    width: 80%;
    
}
.user-info-down form{
    height: 100%;
    width: 100%;
    
}
#game-name{
    margin: 0px;
    margin-top: 2.5%;
    width: 100%;
    height: 2.5%
}
#game-date{
    margin: 0px;
    margin-top: 2.5%;
    width: 100%;
    height: 2.5%
}
#game-description{
    margin-top: 2.5%;
    width: 100%;
    height: 7.5%
}
.form h1{
    width: 60%;
    color: #990B0B;
    margin: 2.5% 0%;
    text-align: left;
}
#game-platforms{
    max-height: 15%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1vw;
    padding: 2.5%;

}
.platform-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    align-items: center;
    width: 100%;
    height: 100%;
}
.platform-div input {
    margin:0px;
}
.platform{
    margin:0px;
    max-width: 20%;
    max-height: 100%;
}
.platform-div p{
    margin:0px;
    width: 80%;
}

#game-categories{
    padding: 2.5%;
    max-height: 15%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1vw;
}
#game-add-bottom{
    padding: 2.5%;
    display: flex;
    flex-direction: row;
    height: 5%;
    width: 100%;
}
#game-add-bottom-text{
    width: 25%;
    height: 100%;
    display: grid;
    place-items: center;
}
#game-add-bottom-text h1{
    width: 100%;

}
#game-add-bottom-input{
    width: 50%;
    height: 100%;
}
#game-add-bottom-input input{
    margin: 0px;
    width: 100%;
    height: 100%;
    padding: 0px;
}
#game-add-bottom-button{
    width: 25%;
    height: 100%;
}
#game-add-bottom-button button{
    
    cursor: pointer;
    background-color: #4A0000;
    border-color: #270000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 0.5em;
    border: 0.03em;;
    color: white;
    line-height: 1em;
    font-family:Kameron;
    font-size:25px;
    font-weight: 100;
    height:100%;
    width: 80%;
}
.user-info-down input {
    margin: 0;
}
@media only screen and (max-width: 1023px) {
    #game-platforms{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        font-size: 1.25em;
    }
    #game-categories{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        font-size: 1.25em;
    }
    .details{
        height: 100vh;
    }
    .game-details{
        margin-top: 2vh;
        height: 90vh;
    }
    #game-add-bottom-text h1{
        font-size: 1.5em;
    
    }
  }